@import "fonts"

.size
  display: grid
  grid-template-columns: 21.09375%  57.8125%  21.09375%
  //grid-template-columns: 504px 57.8125%  504px


.grid-12
  display: grid
  grid-template-columns: repeat(12,1fr)
  grid-column-gap: 30px
