//@include font (35px,light,red)
//@extend %btn

//@font-face 
//  font-family: OrelegaOne
//  src: url("../fonts/OrelegaOne-Regular.ttf")
//

@import "colors"
@import "fonts"
@import "extends"
@import "vars"
@import "base"
@import "classes"
@import "media"
.wrapper
  position: relative
  .header-color
    grid-column: 1/4
    min-height: 35px
  .central-wrapper
    position: absolute
    top: 0
    grid-column: 2
    align-items: center
    header
      grid-column: 1/13
      display: contents
      min-height: 35px
      background: red
      .logo
        justify-self: start
        @include Text-Style()
        margin: 42px 0 18px 0

      .nav
        display: flex
        justify-content: space-between
        grid-column: 10/13
        justify-self: end
        margin: 50px 0 26px 0
        > a
          min-width: 61px
          height: 19px
          @include Text-Style-2()
        .active
          width: 56px
          height: 19px
          flex-grow: 0
          margin: 0 42.5px
          @include Text-Style-3()

  //main
  //  .section-1
  //    .left-block
  //      grid-column: 1
  //      margin: 137px 0 0 0
  //      height: 500px
  //      background-color: $pinkish-orange
  //
  //    .central-side
  //      grid-column: 2/3
  //      //max-width: 1100px
  //      position: relative
  //      .orange-block
  //        margin: 137px 0 0 0
  //        grid-column: 1/7
  //        height: 500px
  //        padding: 80px 62px 93px 405px
  //        background-color: $pinkish-orange
  //      .main-photo
  //        grid-column: 7/13
  //        width: 540px
  //        height: 810px
  //        background: url("../../img/main-backg-photo.png") no-repeat center
  //        background-size: cover
  //      .black-div
  //        grid-column: 1/13
  //        height: 130px
  //        background-color: $black
  //        position: absolute
  //        bottom: 74px
  //        z-index: 1
  //








